<div class="container px-4 py-5 mx-auto ">

    <div class="d-flex flex-lg-row flex-column-reverse card-login">
        <div class="card card1 detail-product">

            <div class="row justify-content-center my-auto">
                <div class="col-md-8 col-10 my-5 user-details">

                                     
                    <!-- Name -->
                    <div class="form-group text-center ">
                        <h2 class="form-control-label ">{{user.name}}</h2>
                    </div>
                    <hr class="mb-4" style="border-top: 1px solid rgba(255, 255, 255, 0.281);">

                    <!-- Image -->
                    <figure class="mb-4" >
                        <img src="{{user.image}}" alt="Foto de perfil de {{user.name}}" style="width: 50%; display: block; margin: 20px auto 40px">
                    </figure>

                    <!-- Gender -->
                    <div class="form-group">
                        <h6 style="border-bottom: 1px solid rgba(255, 255, 255, 0.281); text-transform: uppercase">Género</h6>
                        <p class="">{{user.gender}}</p>
                    </div>

                    <!-- Description  -->
                    <div class="form-group">
                        <h6 style="border-bottom: 1px solid rgba(255, 255, 255, 0.281); text-transform: uppercase">Descripción</h6>         
                        <p class="">{{user.description}}</p>
                    </div>

                    <!-- Skills  -->
                    <div class="form-group">
                        <h6 style="border-bottom: 1px solid rgba(255, 255, 255, 0.281); text-transform: uppercase;">Habilidades</h6>
                        <p class="">{{#each user.skills}}
                                    {{this}} |  
                                    {{/each}}
                        </p>
                    </div>

                    <!-- Experience  -->
                    <div class="form-group">
                        <h6 style="border-bottom: 1px solid rgba(255, 255, 255, 0.281); text-transform: uppercase">Experiencia</h6>
                        <p class="">{{user.experiences}}</p>
                    </div>

                    <!-- Personality -->
                    <div class="form-group">
                        <h6 style="border-bottom: 1px solid rgba(255, 255, 255, 0.281); text-transform: uppercase">Personalidad</h6>
                        <p class="">{{#each user.personality}}
                                    {{this}} |  
                                    {{/each}}
                        </p>
                    </div>

                    <!-- Languages  -->
                    <div class="form-group">
                        <h6 style="border-bottom: 1px solid rgba(255, 255, 255, 0.281); text-transform: uppercase; ">Idiomas</h6>
                        <p class="">{{#each user.languages}}
                                    {{this}} |  
                                    {{/each}}
                        </p>
                    </div>

                    <!-- Products -->
                    <div class="" id="usersList">
                    <h5 class="text-center" style="text-transform: uppercase; margin-top: 40px; margin-bottom: 40px;">productos</h5> 
                    <div class="d-flex flex-row flex-wrap mb-4">

                        {{#each products}}               
                             <div class="col-md-12 mb-4 hover-overlay">                                 
                                <div class="hover hover-1 text-white rounded">                                   
                            
                                    <img src={{image}} alt="" style="filter:opacity(70%);">
                            
                                    <div class="hover-overlay"></div>
                            
                                    <div class="hover-1-content px-5 py-4" >  
                                        <p class="hover-1-description mb-0">{{title}}</p>
                                        <p class="hover-1-description mb-0">{{description}}</p>
                                    </div>
                            
                                </div>                            
                            </div>
                        {{/each}}

                    </div>               

                    <!-- Map -->
                    <div class="col-md-12">
                        <div id="usersMap" style="height: 300px;"></div>
                    </div>
                
                    <!--------------- Back button --------------->               
                    <a href="/usuario/lista" class="btn btn-transparent-product form-control">Volver atrás</a>

                </div>
            </div>

        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascripts/styles.js"></script>
<script src="/javascripts/user-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjA6tHdKBCS3wZYG_QkFl3e_7Sre7jiic&callback=initApp"></script>

