<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1><strong>Hola! Soy {{name}}</strong></h1>
            <small><i>{{username}}</i></small>
            <hr>
            <figure>
                <img src="{{image}}" alt="Foto de perfil de {{name}}">
            </figure>
            <p><strong>Cumpleaños:</strong> {{description}}</p>
            <p><strong>Género:</strong> {{gender}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p><strong>Hablo:</strong> {{#each languages}}{{this}}{{/each}}</p>
            <div class="row">
                <p><strong>Soy una persona:</strong></p>
                <div class="col-md-6">
                    <ul>
                        {{#each personality}}
                        {{this}}
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="row">
                <p><strong>Mis habilidades son:</strong></p>
                <div class="col-md-6">
                    <ul>
                        {{#each personality}}
                        {{this}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div id="usersMap"></div>
        </div>
    </div>
    <a href="/user/list" class="btn btn-dark">Volver atrás</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascripts/styles.js"></script>
<script src="/javascripts/places-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=_INSERT_API_KEY_HERE_&callback=initApp"></script>