<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1><strong>Hola! Soy {{user.name}}</strong></h1>
            <small><i>{{user.username}}</i></small>
            <hr>
            <figure>
                <img src="{{user.image}}" alt="Foto de perfil de {{user.name}}">
            </figure>
            <p><strong>Cumpleaños:</strong> {{user.description}}</p>
            <p><strong>Género:</strong> {{user.gender}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p><strong>Hablo:</strong> {{#each user.languages}}{{this}}{{/each}}</p>
            <div class="row">
                <p><strong>Soy una persona:</strong></p>
                <div class="col-md-6">
                    <ul>
                        {{#each user.personality}}
                        {{this}}
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="row">
                <p><strong>Mis habilidades son:</strong></p>
                <div class="col-md-6">
                    <ul>
                        {{#each user.skills}}
                        {{this}}
                        {{/each}}
                    </ul>
                </div>
                <h2>PRODUCTOS</h2>
                {{#each products}}
                <h6>{{title}}</h6>
                <div class="col-lg-6 mb-2 pr-lg-1">
                    <p>{{description}}</p>
                    <img src={{image}} alt="" class="img-fluid rounded shadow-sm">
                </div>
                {{/each}}
            </div>
        </div>
        <div class="col-md-4">
            <div id="usersMap"></div>
        </div>
    </div>
    <a href="/usuario/lista" class="btn btn-dark">Volver atrás</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascripts/styles.js"></script>
<script src="/javascripts/user-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=-----------APIKEY--------------&callback=initApp"></script>
