<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h1>{{title}}</h1>
            <hr>
            <h4>Descripci칩n</h4>
            <p>{{description}}</p>
        </div>
        <div class="col-md-5">
            <h4>Informaci칩n del autor/a</h4>
            <h5>{{user.name}}</h5>
            <figure>
                <img src="{{user.image}}" alt="{{user.name}}">
                <figcaption>
                    <p><small>{{user.name}}</small></p>
                </figcaption>
            </figure>
            <a href="/user/details/{{user.id}}"><strong>Saber m치s del autor</strong>
        </div>
        <hr>
    </div>
    <a href="/products" class="btn btn-dark">Volver atr치s</a>
</div>